<!DOCTYPE html>
<html>
	<head>
		<title>Sugerencias</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />	
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<h1>Sugerencias</h1>
		<br>
		<p>
			Este es un proyecto para la asignatura de CORE, algunos proyectos de otros compañeros mios estan en la siguiente lista:
		</p>
		<br>
		<ul>
			<li><a href="https://quiz-poderosonovo.herokuapp.com/">Diego Poderoso</a></li>
			<li><a href="https://quiz-core-fp.herokuapp.com/">Fernando Pedraza</a></li>
			<li><a href="https://quizmaria.herokuapp.com/">Maria Eugenio</a></li>
		</ul>
		<br><br>
		<p>
			Si estas interesado en aprender a hacer estas cosas, en <a href="https://miriadax.net/web/desarrollo-de-servicios-en-la-nube-con-html5-javascript-y-nodejs-2-edicion-">Miriada</a> tienen cursos sobre ello.
		</p>
	</body>
</html>